/*--------------Fonts--------------*/

@font-face {
    font-family: 'playfair-b';
    src: url('fonts/playfairdisplay-bold-webfont.eot');
    src: url('fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-bold-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'playfair-bi';
    src: url('fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'playfair-i';
    src: url('fonts/playfairdisplay-italic-webfont.eot');
    src: url('fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-italic-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'playfair-r';
    src: url('fonts/playfairdisplay-regular-webfont.eot');
    src: url('fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaylight';
    src: url('fonts/raleway-light-webfont.eot');
    src: url('fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-light-webfont.woff2') format('woff2'),
         url('fonts/raleway-light-webfont.woff') format('woff'),
         url('fonts/raleway-light-webfont.ttf') format('truetype'),
         url('fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaylight-i';
    src: url('fonts/raleway-lightitalic-webfont.eot');
    src: url('fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/raleway-lightitalic-webfont.woff') format('woff'),
         url('fonts/raleway-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaymedium';
    src: url('fonts/raleway-medium-webfont.eot');
    src: url('fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('fonts/raleway-medium-webfont.woff') format('woff'),
         url('fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaymedium-i';
    src: url('fonts/raleway-mediumitalic-webfont.eot');
    src: url('fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('fonts/raleway-mediumitalic-webfont.woff') format('woff'),
         url('fonts/raleway-mediumitalic-webfont.ttf') format('truetype'),
         url('fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*--------------Global--------------*/

body {
    margin: 0 0; 
    font-size: 14px;
    color: #2d2d2d;
}

.general-text {
   text-align: center;
   line-height: 2em;
}

.container {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
}

.clearfix:before,
.clearfix:after { 
   content: ""; 
   visibility: hidden; 
   display: table; 
   height: 0; 
   clear: both;
}

h2{
    font-weight: normal;
    font-family: 'playfair-i', sans-serif;
    font-size: 34px;
}

.h2-second-half{
    font-family: 'playfair-b', sans-serif;
}

/*--------------Body--------------*/

/*--------Header--------*/

h1 {
    font-size: 5px;
    visibility: hidden;
}

.header-margin {
    margin: 0 10px;
}

.aloha-logo {
    float: left;
    width: 120px;
}

.cart-icon {
    float: right;
    width: 50px;
    cursor:pointer;
}

/*--------Banner--------*/


.hero-banner {
    height: 25rem;
    background: 
    linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ),
    url('banner-girl.png') no-repeat center 60px, 
    url('flower-bkgd.jpg') repeat-x center top;
    margin: 15px 0;
    background-size: contain, 150px, cover; 
    position:relative;
}

.hero-text {
    text-align: center;
    line-height: 2rem;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    margin: 10px 0;
}

.new-collection {
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'ralewaymedium', sans-serif;
}

.spring {
    font-size: 35px;
    color: #ffffff;
    font-family: 'playfair-r', sans-serif;
    margin: 20px 0;
    width: 500px;
}

/*--------Description--------*/

.border {
    border-bottom: solid 1px #d7d7d7;
    padding-bottom: 70px;
}
.aloha-mission {
    font-family: 'ralewaylight', sans-serif;
    width: 100%;
    max-width: 650px;
    margin: auto;
    font-size: 16px;
}

/*--------Product List--------*/

ul {
    padding: initial;
}

ul li {
    display: block;
}

li img{
    width: 20rem;
    height: auto;
}
.name-text {
    color:#E2574C;
    font-family: 'playfair-r', sans-serif;
    font-size: 22px;
    margin: 10px auto;
}

.descript-text {
    font-family: 'ralewaymedium', sans-serif;
    color: #969696;
    text-transform: uppercase;
    font-size: 11px;
}

.price-text {
    font-family: 'ralewaymedium', sans-serif;
    color: #969696;
    text-transform: uppercase;
    font-size: 14px;
}

/*--------Sign-Up--------*/

.sign-up-banner{
    height: 330px;
    background: 
    linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) ),
    url('wave-bkgd.jpg') no-repeat center bottom;
    margin: 10px 0 7px 0;
    position:relative;
}

.h2-sign-up {
    margin: 0 auto auto auto;
}

.sign-up {
    text-align: center;
    line-height: 2.25em;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    align-items: center;
    color: #ffffff;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.stay-updated-text{
    font-family: 'ralewaylight', sans-serif;
    margin-bottom: 8%;
    margin-top: 4%; 
    font-size: 16px;
}

.sign-up-form{
    background-color: #ffffff;
    width: 80%;
    display: flex;
    margin: 0 auto;
    border-radius: 50px;
    padding: 4px;
}

.email {
    position: relative;
    float: left;
    background: none;
    border: none;
    margin: 0 auto 0 25px;
    font-size: 14px;
    font-family: 'ralewaylight', sans-serif;
}


button { 
    color: #ffffff;
    position: relative;
    float: right;
    border-radius: 50px;
    background: #E2574C;
    border: none;
    padding: 3% 7%;
    font-size: 14px;
    font-family: 'ralewaymedium', sans-serif;
    cursor:pointer;
}

button:hover,
button:active {
   background-color: #b64036;
}

/*--------Footer--------*/

footer{
    height: 300px;
    background: #242424;
    margin: 0 auto;
    background-size: contain;
    text-align: center;
    color: #ffffff;
    position:relative;
}

.footer-section{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    max-width: 550px;
    margin: auto;
}

.contact {
    font-family: 'playfair-r', sans-serif;
    line-height: 1.5em;
    color: #ffffff;
    padding: 0 1em;
}

.address {
    color: #969696;
    font-family: 'playfair-r', sans-serif;
    line-height: 1.5em;
    padding: 0 1em;
}

i {
    margin: 0 5px;
}

.social-media {
    display: inline;
}

.social-media li {
    display: inline;
    line-height: 2em;
}

.social-media i {
    min-width: 20px;
}
.social {
    display: none;
}

/*-----------------Responsive Design-----------------*/

@media screen and (min-width: 600px) {

    body {
        font-size: 16px;
    }

    .container {
        max-width: 1240px;
    }

    h2{
        font-size: 36px;
    }
    
/*--------Header--------*/

    .header-margin {
        margin: 5px 25px 0px 25px;
    }

    .aloha-logo {
        float: left;
        width: 160px;
    }

    .cart-icon {
        float: right;
        width: 62px;
    }

/*--------Banner--------*/

    .new-collection {
        font-size: 18px;
    }

    .spring {
        font-size: 45px;
    }

/*--------Description--------*/

    .aloha-mission {
        font-size: 18px;
    }

/*--------Product List--------*/

   ul li {
        display: inline;
        width: 50%;
        float: left;
    }

    li img {
        max-width: 100%;
    }

    .name-text {
        font-size: 24px;
    }

    .descript-text {
        font-size: 12px;
    }

    .price-text {
        font-size: 16px;
    }

/*--------Sign-Up--------*/

    .sign-up-banner {
        height: 345px;
    }

    .sign-up-form {
        width: 70%;
    }   

    .sign-up {
        max-width: 660px;
    }

    .stay-updated-text {
        margin-bottom: 5%; 
        font-size: 18px;
        padding: 0px 5px;
    }

    .email {
        font-size: 16px;
    }

    button { 
        font-size: 16px;
        padding: 2% 5%;
    }

/*--------Footer--------*/

    footer{
        height: 290px;
        background-size: contain;
        text-align:left;
    }

    .footer-section{
        position:absolute;
        width: 100%;
        max-width: 1240px;
        margin: auto;
    }

    .footer-text {
        color: #969696;
        display: inline;
    }

    i {
        margin: 0 5px;
    }

    .company-info {
        width: 50%;
        margin: 0;
        float: left;
    }

    .social-media {
        float: right;
        line-height: 1em;
        padding: 0 2em;
        font-family: 'ralewaylight', sans-serif;
        display: block;
    }

    .social-media li {
        display: block;
    }

    .social {
        display: inline-block;
    }
}

@media screen and (min-width: 1240px) {

/*--------Banner--------*/

    .hero-banner {
        height: 550px;
        background: 
        linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),
        url('banner-girl.png') no-repeat center 60px, 
        url('flower-bkgd.jpg') repeat-x center top;
        margin: 20px 0;
        background-size: contain, 250px, 851px, contain;
    }

    .new-collection {
        font-size: 18px;
    }

    .spring {
        font-size: 60px;
    }

/*--------Product List--------*/

   ul li {
        display: inline-block;
        margin: auto 2%;
        width: auto;
    }

    li img{
        width: 16rem;
    }


    .stay-updated-text {
        padding: 0;
    }



