/*--------------Fonts--------------*/

@font-face {
    font-family: 'playfair';
    src: url('fonts/playfairdisplay-bold-webfont.eot');
    src: url('fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-bold-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: 'playfair';
    src: url('fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'playfair';
    src: url('fonts/playfairdisplay-italic-webfont.eot');
    src: url('fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-italic-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-style: italic;
}

@font-face {
    font-family: 'playfair';
    src: url('fonts/playfairdisplay-regular-webfont.eot');
    src: url('fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
}

@font-face {
    font-family: 'ralewaylight';
    src: url('fonts/raleway-light-webfont.eot');
    src: url('fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-light-webfont.woff2') format('woff2'),
         url('fonts/raleway-light-webfont.woff') format('woff'),
         url('fonts/raleway-light-webfont.ttf') format('truetype'),
         url('fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
}

@font-face {
    font-family: 'ralewaylight';
    src: url('fonts/raleway-lightitalic-webfont.eot');
    src: url('fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/raleway-lightitalic-webfont.woff') format('woff'),
         url('fonts/raleway-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-style: italic;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('fonts/raleway-medium-webfont.eot');
    src: url('fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('fonts/raleway-medium-webfont.woff') format('woff'),
         url('fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('fonts/raleway-mediumitalic-webfont.eot');
    src: url('fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('fonts/raleway-mediumitalic-webfont.woff') format('woff'),
         url('fonts/raleway-mediumitalic-webfont.ttf') format('truetype'),
         url('fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-style: italic;
}

/*--------------Global--------------*/

body {
    margin: 0 0; 
    font-size: 14px;
    color: #2d2d2d;
}

.general-text {
   text-align: center;
   line-height: 1.5em;
}

.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.section-headings {
    font-family: 'playfair', serif;
    font-style: italic;
    font-size: 34px;
    padding: 2rem 0;
}

.section-headings-half{
    font-weight: bold;
    font-style: normal;
}

/*--------------Body--------------*/

h1 {
    font-size: 5px;
    visibility: hidden;
}

/*--------Header--------*/

.header-section{
    position: fixed;
    width:100%;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #d7d7d7;
    box-shadow: 0px 2px 5px #dcdddf;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    z-index: 1;
}

.header-section div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;        
    -webkit-box-pack: justify;        
        -ms-flex-pack: justify;        
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 25px;
    border-top: 1px solid #d7d7d7;
}

.main-menu{
    text-align: center;
    padding: 0;
}

.main-menu li {
    display: inline-block;
    padding: 2px;
}

a {
    font-size:14px;
    text-transform: uppercase;
    font-family: 'ralewaymedium', sans-serif;
    color: #e2574c;
    text-decoration: none;
    padding: 0 10px;
}

.aloha-logo {
    width: 120px;
    margin-left: 20px;
    margin-top: 10px;
}

.shopping-cart {
    position: relative;
    margin: 0;
}
.cart-icon {
    width: 50px;
    cursor:pointer;
    margin-right: 20px;
    margin-top: 10px;
}

#itemCount {
  position: absolute;
  display: none;
  top: 10px;
  left: 35px;
  width: 20px;
  height: 15px;
  border-radius: 50%;
  background: #e2574c;
  color: white;
  font-size: 9px;
  padding-top: 7%;
  text-align: center;
  font-family: 'ralewaymedium', sans-serif;
}

/*--------Banner--------*/


.hero-banner {
    height: 25rem;
    background: 
    -webkit-linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ),
    url('images/banner-girl.png') no-repeat center 60px, 
    url('images/flower-bkgd.jpg') repeat-x center top;
    background: 
    linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ),
    url('images/banner-girl.png') no-repeat center 60px, 
    url('images/flower-bkgd.jpg') repeat-x center top;
    margin-top: 100px;
    background-size: contain, 150px, cover; 
    position:relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hero-text {
    text-align: center;
    line-height: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-shadow: 2px 2px 3px #6A6C6F;
    width: 100%
}

.new-collection {
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'ralewaymedium', sans-serif;
    padding-bottom: 1.5em;
    margin: 0;
}

.spring {
    font-size: 35px;
    color: #ffffff;
    font-family: 'playfair', serif;
    margin: 0;
    width: 100%;
}

/*--------Description--------*/

.border {
    border-bottom: solid 1px #d7d7d7;
    padding-bottom: 40px;
}
.aloha-mission {
    font-family: 'ralewaylight', sans-serif;
    width: 100%;
    max-width: 650px;
    margin: auto;
    font-size: 16px;
    line-height: 2.25rem;
}

/*--------Trending Categories--------*/

.different-categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
}


.categories-large{
    -webkit-box-flex: 2;
        -ms-flex: 2 0 100%;
            flex: 2 0 100%;
    max-width: 100%;
    border: 4px solid white;
    box-sizing: border-box;
    padding: 25% 0;
}


.categories-small {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    max-width: 50%;
    border: 4px solid white;
    box-sizing: border-box;
    padding: 25% 0;
}

.category-title {
    color: white;
    font-family: 'ralewaylight', sans-serif;
    font-size: 1.2rem;
    line-height: 1;
    text-shadow: 2px 2px 3px #6A6C6F;
    text-transform: uppercase;
}

.mens {
    background: 
    -webkit-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ),
    url('images/mens-category.jpg');
    background: 
    linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ),
    url('images/mens-category.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.trends {
    background: 
    -webkit-linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ),
    url('images/trends-category.jpg');
    background: 
    linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ),
    url('images/trends-category.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.glasses{ 
    background: 
    -webkit-linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ),
    url('images/glasses-category.jpg'); 
    background: 
    linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ),
    url('images/glasses-category.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.sale{
    background: 
    -webkit-linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ),
    url('images/sale-category.jpg');
    background: 
    linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ),
    url('images/sale-category.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.bags{
    background: 
    -webkit-linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ),
    url('images/bags-category.jpg');
    background: 
    linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ),
    url('images/bags-category.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.womens{
    background: 
    -webkit-linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ),
    url('images/womens-category.jpg') ;
    background: 
    linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ),
    url('images/womens-category.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

/*--------Product List--------*/

.main-carousel {
    margin: 60px auto;
    padding-bottom: 20px;
}

.carousel-cell {
    width: 100%;
}

.flickity-prev-next-button {
  display: none;
}
.products img{
    width: 20rem;
    height: auto;
}
.name-text {
    color:#E2574C;
    font-family: 'playfair', serif;
    font-size: 22px;
    margin: 10px auto;
}

.descript-text {
    font-family: 'ralewaymedium', sans-serif;
    color: #969696;
    text-transform: uppercase;
    font-size: 11px;
}

.price-text {
    font-family: 'ralewaymedium', sans-serif;
    color: #969696;
    text-transform: uppercase;
    font-size: 14px;
}

.products button {
    color: #ffffff;
    position: relative;
    border-radius: 40px;
    background: #000000;
    border: none;
    padding: 2% 3%;
    font-size: 14px;
    font-family: 'ralewaymedium', sans-serif;
    cursor:pointer;
}

.products button:hover,
.products button:active {
   background-color: #0C7B9C;
}

/*--------Sign-Up--------*/

.sign-up-banner{
    height: 330px;
    background: 
    -webkit-linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) ),
    url('images/wave-bkgd.jpg') no-repeat center bottom;
    background: 
    linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) ),
    url('images/wave-bkgd.jpg') no-repeat center bottom;
    margin: 10px 0 7px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.sign-up-header {
    margin: 0 auto auto auto;
    text-shadow: 2px 2px 3px #6A6C6F;
}

.sign-up {
    text-align: center;
    line-height: 2.25em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #ffffff;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.stay-updated-text{
    font-family: 'ralewaylight', sans-serif;
    margin-bottom: 8%;
    margin-top: 4%; 
    font-size: 16px;
}

.sign-up-form{
    background-color: #ffffff;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    border-radius: 50px;
    padding: 4px;
}

label {
    position: relative;
    float: left;
    margin: 0 auto 0 25px;
}

.email {
    background: none;
    border: none;
    margin: 0 auto 0 25px;
    font-size: 14px;
    font-family: 'ralewaylight', sans-serif;
}

.sign-up-form button { 
    color: #ffffff;
    position: relative;
    float: right;
    border-radius: 50px;
    background: #E2574C;
    border: none;
    padding: 3% 7%;
    font-size: 14px;
    font-family: 'ralewaymedium', sans-serif;
    cursor:pointer;
}

.sign-up-form button:hover,
.sign-up-form button:active {
   background-color: #b64036;
}

#subscribe:focus {
    outline: none;
}

input:focus {
  box-shadow: 0 0 5px lightgray;
  outline: 0;
}

/*--------Footer--------*/

footer{
    height: 300px;
    background: #242424;
    text-align: center;
    color: #ffffff;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.contact {
    font-family: 'playfair', serif;
    line-height: 1.5em;
    color: #ffffff;
}

.address {
    color: #969696;
    font-family: 'playfair', serif;
    line-height: 1.5em;
    margin-bottom: 0;
}

i {
    margin: 0 5px;
}

.social-media {
    display: inline;
    padding: 0px;
    margin-top: 0;
}

.social-media li {
    display: inline;
    line-height: 2em;
}

.social-media i {
    min-width: 20px;
}
.social {
    display: none;
}

/*-----------------Responsive Design-----------------*/

@media screen and (min-width: 600px) {

    body {
        font-size: 16px;
    }

    .container {
        max-width: 1240px;
    }

    section-headings {
        font-size: 38px;
    }
    
/*--------Header--------*/


    .main-nav {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        margin-top: 12.5px;
        border-top: none;
        margin-bottom: 12.5px;
        font-size: 16px;
        padding-right: 5%;
        }

    .aloha-logo {
        width: 160px;
        margin-bottom: 10px;
    }

    .cart-icon {
        width: 62px;
        margin-bottom: 10px;
    }

    #itemCount {
        left: 45px;
    }
/*--------Banner--------*/

    .hero-banner {
        margin-top: 68px;
    }

    .spring {
        font-size: 45px;
    }

/*--------Description--------*/

    .aloha-mission {
        font-size: 18px;
    }

/*--------Trending Categories--------*/

    .categories-large{
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        padding: 12.5% 0;   
    }


    .categories-small {
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
        padding: 12.5% 0;
    }

    .category-title {
        font-size: 1.6rem;
        font-family: 'ralewaymedium', sans-serif;
    }

/*--------Product List--------*/

    .carousel-cell {
        width: 50%;
    }   

    .carousel-cell img{
        width: 17rem;
    }

    .name-text {
        font-size: 24px;
    }

    .descript-text {
        font-size: 12px;
    }

    .price-text {
        font-size: 16px;
    }

/*--------Sign-Up--------*/

    .sign-up-banner {
        height: 345px;
    }

    .sign-up-form {
        width: 70%;
    }   

    .sign-up {
        max-width: 660px;
    }

    .stay-updated-text {
        margin-bottom: 5%; 
        font-size: 18px;
        padding: 0px 5px;
    }

    .email {
        font-size: 16px;
    }

    .sign-up-form button { 
        font-size: 16px;
        padding: 2% 5%;
    }

/*--------Footer--------*/

    footer{
        height: 290px;
        text-align:left;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .footer-text {
        color: #969696;
        display: inline;
    }

    .contact {
        margin-top: 0;
    }

    i {
        margin: 0 5px;
    }

    .company-info {
        width: 50%;
        margin: 0;
    }

    .social-media {
        line-height: 1em;
        padding: 0 2em;
        font-family: 'ralewaylight', sans-serif;
        display: block
    }

    .social-media li {
        display: block;
    }

    .social {
        display: inline-block;
    }
}

@media screen and (min-width: 1240px) {

/*--------Banner--------*/

    .hero-banner {
        height: 550px;
        background: 
        -webkit-linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),
        url('images/banner-girl.png') no-repeat center 60px, 
        url('images/flower-bkgd.jpg') repeat-x center top;
        background: 
        linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),
        url('images/banner-girl.png') no-repeat center 60px, 
        url('images/flower-bkgd.jpg') repeat-x center top;
        background-size: contain, 250px, 851px, contain;
    }

    .spring {
        font-size: 60px;
    }

/*--------Product List--------*/

    .main-carousel{
        width: 1100px;
    }

    .carousel-cell {
        width: 25%;
    }

    .carousel-cell img{
        width: 17rem;
    }

}
